// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack
@mixin clearfix(){
	*zoom:1;

	&:before,
	&:after{
	    content:"";
	    display:table;
	}
	&:after{
	    clear:both;
	}
}

// Transition Mixin
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

// CSS3 Mixin
@mixin css3($property, $value) {
	 @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
		  #{$prefix}#{$property}: $value;
	 }
}

// Border Radius Mixin
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius
@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}

@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@mixin btn( $type: "flat", $background: $body_color, $radius: 0px, $padding: 15px 20px) {
    @include css3(border-radius, $radius);
    color: #fff;
	display: inline-block;
	line-height: 1;
	padding: $padding;
    @if $type == 'flat' {
        background: $background;
        &:hover {
            background: darken($background, 10);
        }
        &:active {
            background: darken($background, 20);
        }
    }
    @if $type == 'border' {
        background: rgba(0,0,0,0);
        border: 1px solid $background;
        color: $background;
        &:hover {
            background: $background;
            color: #fff;
        }
        &:active {
            background: darken($background, 10);
        }
    }
    @if $type == 'pressed' {
        background-color: $background;
        border: none;
        @include css3(box-shadow, 0 10px darken($background, 20));
        &:hover {
            background-color: darken($background,10);
        }
        &:active {
            background-color: $background;
            @include css3(box-shadow, 0 10px darken($background, 20));
            @include css3(transform, translateY(5px));
        }
    }
}

// Media Query Mixin http://davidwalsh.name/write-media-queries-sass
@mixin legacy {
	@media (max-width: #{$legacy-width - 1px}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

// Ensure grid columns are set to border-boxes. This is essential
@mixin border-box(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// Genericons
@mixin genericon( $icon ) {
	@extend .genericon;
	@extend .genericon-#{$icon};
}

// Font Awesome
@mixin fa( $icon ) {
    @extend .fa;
    @extend .fa-#{$icon};
}
